<%= render "shared/header" %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header py-3">Registracija</h5>
        <div class="card-body">
          <%= render "shared/flash" %>
          <%= render "form", user: @user %>
        </div>
      </div>
    </div>
  </div>
</div>