<%= render "shared/header" %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <h3 class="card-header py-3">Dodaj novi tip opreme</h3>
        <div class="card-body">
          <%= render "shared/flash" %>
          <%= render "form", equipment_type: @equipment_type, edit: false %>
        </div>
      </div>
    </div>
  </div>
</div>